html {
    font-family: SuperMarioGalaxy;
    background-color: darkgrey;
    padding: 1em;
  }

body {
    background-image: url("http://www.nesmaps.com/maps/SuperMarioBrothers/images/SMB4-1BG.png");
    background-size: 100% 100%;
    color: black;
    size: 1em;
    padding: 1em;
    border: 5px solid black; 
  }

.mushroom {
  height: 9%;
  width: 9%;
}

.bomb {
  height: 12%;
  width: 12%;
}

.fish {
  height: 12%;
  width: 12%;
}