* {
  margin: 0
}

/* Header styling  */
.navbar {
  display: flex;
  justify-content: flex-start;
  word-spacing: 10px
}

 /* Body styling */


 /* Footer styling */
 footer {
   position: fixed;
   bottom: 0
 }