body {
    background-color: #111111
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 1.5cm
}

p {
    color: #eeeeee;
    font-size: 15pt;
    line-height: 1.2;
}

span {
    text-decoration: underline;
    color: goldenrod;
    
}

.credits {
    font-size: 14pt;
    font-style: italic
}
.credits:hover {
    cursor: pointer;
    color:#6e42ff;
    text-decoration: none;

}
